@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dimension Data</h1>
    <h2>Why choose Dimension Data?</h2>
    <p>
        Deep Industry Experience
        We service clients across all sectors including financial, health, telecommunication, manufacturing and government sectors.

        Leveraging NTT
        Global expertise
        By leveraging our relationship with NTT, we're able to provide best suited global solutions to our local customers.

        Global Partnerships
        Global partnerships
        Working with leading global security partners, we transform digital workloads to our cloud platform.

        Certified Professionals
        Outcomes focused
        We partner with our customers to develop solutions that solve business problems
    </p> 

</div>
